In [5]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

In [13]:
# Ans
# String variable
my_string = "Hello, World!"

# List variable
my_list = [1, 2, 3, 4, 5]

# Float variable
my_float = 3.14159

# Tuple variable
my_tuple = (1, 2, 3, 4, 5)

In [9]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.

#What will be the data type of the above given variable.

In [12]:
# Ans
#var1 is a string.
#var2 is a string.
#var3 is a list.
#var4 is an integer.

In [16]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [19]:
# Ans
#(i) / (Division Operator)
#(ii) % (Modulo Operator)
#(iii) // (Floor Division Operator)
#(iv) ** (Exponentiation Operator)

In [21]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

In [24]:
my_list = [1, "Hello", 3.14, True, [1, 2, 3], {"name": "John", "age": 30}, None, (4, 5, 6), "World", False]

for i in my_list:
    print(f"i: {i} | Data Type: {type(i)}")

i: 1 | Data Type: <class 'int'>
i: Hello | Data Type: <class 'str'>
i: 3.14 | Data Type: <class 'float'>
i: True | Data Type: <class 'bool'>
i: [1, 2, 3] | Data Type: <class 'list'>
i: {'name': 'John', 'age': 30} | Data Type: <class 'dict'>
i: None | Data Type: <class 'NoneType'>
i: (4, 5, 6) | Data Type: <class 'tuple'>
i: World | Data Type: <class 'str'>
i: False | Data Type: <class 'bool'>

In [25]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

In [31]:
A = 24
B = 4

count = 0

while A % B == 0:
    A = A//B
    count +=1

print(f"A is divisible by B {count} times.")

A is divisible by B 1 times.

In [32]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

In [33]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
           11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
           21, 22, 23, 24, 25]

for i in my_list:
    if i % 3 == 0:
        print(f"{i} is divisible by 3.")
    else:
        print(f"{i} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [34]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [35]:
#Immutable Data Types: Immutable data types are those whose values cannot be modified after they are created. 
#Example: Strings

#Mutable Data Types: Mutable data types are those that can be modified after they are created. 
#Example: Lists